@import "~bulma/css/bulma.min.css";

body {
    font-family: 'Titillium Web', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.notification:empty {
    display: none
}
