<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Asolvi · Phoenix Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://asolvi.com" target="_blank">
          <img src="https://asolvi-img.imgix.net/2019/04/Asolvi_logo_WHITE_RGB-500x237.png?auto=compress%2Cformat&ixlib=php-1.2.1&q=70&s=d20b70153c6b994d5e1ee6f196b6466d" alt="Asolvi">
        </a>
      </div>
    </nav>

    <main role="main" class="container">
      <p class="notification is-primary" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
