<%= form_for @changeset, AsolviWeb.Router.Helpers.item_path(@conn, :update, @customer.customer_id), [method: :put], fn f -> %>
  <%= render "form.html", f: f, conn: @conn %>

  <hr/>

  <button type="submit" class="button is-primary">
    Update
  </button>
  <%= link "Cancel", to: AsolviWeb.Router.Helpers.item_path(@conn, :index), class: "button" %>
<% end %>
