<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <%= text_input @f, :name, required: true, class: "input" %>
  </div>
</div>

<div class="field">
  <label class="label">City</label>
  <div class="control">
    <%= text_input @f, :city, required: true, class: "input" %>
  </div>
</div>

<div class="field">
  <label class="label">Address</label>
  <div class="control">
    <%= text_input @f, :address, class: "input" %>
  </div>
</div>

<div class="field">
  <label class="label">Phone NUmber</label>
  <div class="control">
    <%= text_input @f, :phone_number, class: "input" %>
  </div>
</div>
