<section class="section">
  <h1 class="title">
    <%= gettext("Welcome to Asolvi assignment") %>
  </h1>
</section>

<section class="">
</section>

<section class="section">
  <div class="level">
    <div class="level-left">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <%= link "Customer", to: AsolviWeb.Router.Helpers.item_path(@conn, :index) %>
        </ul>
      </nav>
    </div>
    <div class="level-right">
      <%= link "New customer", to: AsolviWeb.Router.Helpers.item_path(@conn, :new), class: "button is-primary" %>
    </div>
  </div>
  <hr>
  <%= if Enum.empty?(@customers) do %>
    <p>There's no customer at the moment</p>
  <% end %>
  <div class="columns">
    <%= for customer <- @customers do %>
      <div class="column is-one-third">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <%= customer.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <b>City:</b> <%= customer.city %>
              <br />
              <b>Address:</b> <%= customer.address || gettext("N/A") %>
              <br />
              <b>Phone:</b> <%= customer.phone_number || gettext("N/A") %>
              <br />
              <b>Created:</b>
              <time>
                <%= customer.inserted_at %>
              </time>
              <br />
              <b>Updated:</b>
              <time>
                <%= customer.updated_at %>
              </time>
            </div>
          </div>
          <footer class="card-footer">
            <%= link "Show", to: AsolviWeb.Router.Helpers.item_path(@conn, :show, customer.customer_id), class: "card-footer-item" %>
            <%= link "Edit", to: AsolviWeb.Router.Helpers.item_path(@conn, :edit, customer.customer_id), class: "card-footer-item" %>
            <%= link "Delete", to: AsolviWeb.Router.Helpers.item_path(@conn, :delete, customer.customer_id), class: "card-footer-item is-danger", method: :delete %>
          </footer>
        </div>
      </div>
    <% end %>
  </div>
</section>
