<%= form_for @changeset, AsolviWeb.Router.Helpers.item_path(@conn, :create), fn f -> %>
  <%= render "form.html", f: f, conn: @conn %>

  <hr/>

  <button type="submit" class="button  is-primary">
    Save
  </button>
  <%= link "Cancel", to: AsolviWeb.Router.Helpers.item_path(@conn, :index), class: "button" %>
<% end %>
