<section class="section">
  <div class="level">
    <div class="level-left">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <%= link "Customer", to: AsolviWeb.Router.Helpers.item_path(@conn, :index) %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <%= @customer.name %>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <b>City:</b> <%= @customer.city %>
            <br />
            <b>Address:</b> <%= @customer.address || gettext("N/A") %>
            <br />
            <b>Phone:</b> <%= @customer.phone_number || gettext("N/A") %>
            <br />
            <b>Created:</b>
            <time>
              <%= @customer.inserted_at %>
            </time>
            <br />
            <b>Updated:</b>
            <time>
              <%= @customer.updated_at %>
            </time>
          </div>
        </div>
        <footer class="card-footer">
          <%= link "Edit", to: AsolviWeb.Router.Helpers.item_path(@conn, :edit, @customer.customer_id), class: "card-footer-item" %>
          <%= link "Delete", to: AsolviWeb.Router.Helpers.item_path(@conn, :delete, @customer.customer_id), class: "card-footer-item is-danger", method: :delete %>
        </footer>
      </div>
    </div>
  </div>
</section>
